<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Time On Rails" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/favicon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-900 text-white">
    <main class="full">
      <% if current_user %>
        <nav class="bg-gray-100 dark:bg-gray-800 py-3 shadow mb-8">
          <div class="px-4 md:px-8 mx-auto flex items-center justify-between">
            <div class="text-xl font-bold text-gray-900 dark:text-gray-100">Time Tracking</div>

            <div class="space-x-6">
              <a href="<%= works_path %>" class="text-gray-700 dark:text-gray-200 hover:underline">Works</a>
              <a href="<%= projects_path %>" class="text-gray-700 dark:text-gray-200 hover:underline">Projects</a>
              <a href="<%= reports_path %>" class="text-gray-700 dark:text-gray-200 hover:underline">Reports</a>
              <%= link_to "Log out", destroy_user_session_path, data: { 'turbo-method' => :delete }, class: "text-gray-700 dark:text-gray-200 hover:underline" %>
            </div>
          </div>
        </nav>
      <% end %>

      <% if notice.present? %>
        <div class="absolute top-16 left-16 right-16 text-center align-middle"
           id="notice"
           data-controller="notices"
           data-action="click->notices#hide">
          <div class="w-full md:w-3xl mx-auto bg-green-200 text-black p-3 font-medium rounded-md cursor-pointer"><%= notice %></div>
        </div>
      <% end %>

      <div class="min-h-full px-4 md:px-8">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
